.contact .left{
    width: 36%;
}
.contact .right{
    width: 60%;   
}
.contact .row{
    flex: 0 0 auto;
    width: 50%;
}
.contact .box{
    padding: 30px;
}
.contact .details h1{
    margin: 20px 0 20px 0;
    font-size: 35px;
}
.contact .details p{
    font-size: 17px
}
.contact .button{
    margin-top: 20px;
}
.contact a{
    margin-right: 20px;
}
.contact .right{
    padding: 35px;
}
.contact .input span{
    font-size: 13px;

}
.contact input{
    margin-top: 10px;
}
.contact .right button{
    width: 100%;
    color: #ff140f;
    
}
.contact .right button:hover{
    color: white;
}
.contact .right button i{
    margin-left: 10px;
}
@media (max-width:768px){
    .contact .d-flex{
        flex-direction: column;

    }
    .contact .right,
    .contact .left{
        width: 100%;
        margin-top: 50px;
    }
    .contact img{
        width: 100%;
    }
}
